.cart-widget {
    position: relative;
    .cart-widget__badge {
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 0;
        width: 15px;
        height: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        font-weight: 700;
    }
}

.hero__img {
    max-width: 600px;
    position: absolute;
    right: 0;
    top: -246px;
    transform: rotate(15deg);
}